.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  
}

.box_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/public/image/backgroundmain.png) center center no-repeat;
  background-size: cover; /* Адаптивный фон */
  z-index: 0;
  flex-direction: column;
}


.wrapper {
  background: url(../public/image/backgroundmain.png) center center no-repeat;
  background-size: cover; /* Адаптивный фон */
  flex-direction: column;
}


@media only screen and (max-width: 600px) {
  .box_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Адаптивный фон */
    z-index: 0;
    flex-direction: column;
    
  }
  .App-header {
    font-size: 14px;
  }
  .App-link {
    font-size: 12px;
  }
  .wrapper {
    background: url(../public/image/background-phone.png) center center no-repeat;
    background-size: cover; /* Адаптивный фон */
    flex-direction: column;
  }



}



