body {
    margin: 0;
    padding: 0;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    font-size: 32px;
}


.profile img {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    margin-right: 70px;
    padding: 40px;
}

.info-item {
    margin-bottom: 20px; /* Увеличение отступа между элементами */
    color: #FFBB00;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blue-info {
    color: #00FFE6;
}



